<h1>All User Phones: </h1>
<ul><% @all_phones.each do |phone| %>
    <h3 style="color:Tomato;"><%= @errors %></h3>
    <li><h4>Manufacturer: </h4><%= phone.name %></li>
    <li><h4>Model: </h4><%= phone.model %></li>
    <li><h4>Color: </h4><%= phone.color %></li>
    <li><h4>Age: </h4> <%= phone.age %></li>
  <% owner = User.find_by(id: phone.user_id) %>
  <% if phone.user_id != nil %>
      <li><h4>Owner: </h4><%= owner.name %></li>
      <% if owner == current_user %>
      <li><a href="phones/<%= phone.id%>"><input type="button" value="Show"></a></li>
      <% end %>
  <% else %>
    <% @phone.destroy %>
  <% end %>
<br><br>
</ul>
<% end %>
<a href="/users/<%=@current_user.id %>">
  <input type="button" value="Back">
</a>


