<h1>Phone Details</h1>
<ul>
    <li><h4>Manufacturer: </h4><%= @phone.name %></li>
    <li><h4>Model: </h4><%= @phone.model %></li>
    <li><h4>Color: </h4><%= @phone.color %></li>
    <li><h4>Age: </h4> <%= @phone.age %></li>
</ul>
<br>
<a><input type="button" value="Back" onclick="history.back()"/></a>
<a href="/users/<%= @phone.id %>/edit"><input type="button" value="Edit Phone"></a>&nbsp;&nbsp;
<form action="/phones/<%= @phone.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE" />
  <input type="submit" value="Delete Phone">
</form>